*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button{
		padding: 0;
		border: none;
		font: inherit;
		color: inherit;
		background-color: transparent;
		cursor: pointer;
}

a {
  text-decoration: none;
}

ul, ol, li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html, body {
  height: 100%;
}

h2 {
	text-align: center;
}

main {
	margin-top: 20px;
}

.todo__body {
	margin: auto;
	width: 476px;
	background-color: white;
	margin: auto;
	padding: 10px 0px;
}

.todo__priority--high, .todo__priority--low {
	font-weight: 400;
	font-family: 'Roboto', 'Helvetica Neue', sans-serif;
	font-size: 18px;
	line-height: 21px;
	margin: 25px 0px;

}

.newTask {
	margin: 5px;
	width: 460px;
	height:45px;
	background-color: inherit;
	border: 1px solid #989898;
	border-radius: 6px;
	padding: 12px;
	font: inherit;
}

.task {
	display: block;
	padding: 5px ;
	padding-right: 45px;
	margin: 5px;
	width: 460px;
	background-color: inherit;
	border: 1px solid #989898;
	display: inline-block;
	font: inherit;
	border-radius: 6px;
	position: relative;
	text-decoration: none;
}

div{
	min-height: 45px;
}

form{
	position:relative;
}

button {
	padding:10px;
	height: 15px;
	width: 15px;
	position:absolute;
	top: 12px;
	float: left;
}

.todo__btn--del{
	background: center / contain no-repeat url("../img/close-icon.png");
	right: 12px;
}	

.todo__btn--add{
	background: center / contain no-repeat url("../img/add-icon.png");
	right: 22px;
	top: 15px
}	

p {
	display: inline;
	margin: 5px;
}

.done {
background-color: grey;
}

.done > p {
	text-decoration: line-through;
}

